.Skills {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  background-color: #fff;
  padding-bottom: 10px;
}

#web {
  background-color: #6dcfdb;
  border-top: 15px solid #4bb6c4;
  color: #fff;
}

#web h1 {
  color: #fff;
  font-weight: 300;
  font-size: 24px;
}

.Skills .SkillGroup {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  grid-column-gap: 10px;
}

.SkillGroup .SkillItem h2 {
  color: #fff;
  font-size: 22px;
}

.Skills h1 {
  /* border-bottom: 2px solid #6dcfdb; */
  color: #6dcfdb;
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: 300;
  padding-left: 20px;
}

.SkillItem {
}

.SkillItem h2 {
  color: #6dcfdb;
  /* border-bottom: 1px dotted #6dcfdb; */
  font-size: 20px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-weight: 300;
}

.SkillItem ul {
  list-style: none;
}

.SkillGroup .SkillBorder {
  border-right: 3px dashed #fff;
  margin: 0 auto;
  height: 80%;
  margin-top: 20px;
}

.SkillItem ul li {
  padding: 5px 0;
  font-weight: 300;
  display: flex;
}

.SkillItem ul li span {
  display: block;
  width: 65%;
}

.SkillItem ul li em {
  display: block;
  padding-right: 10px;
  font-weight: 300;
  width: 30%;
  font-size: 18px;
}
